/*background video*/
#bg {
  position: fixed;
  z-index: -1;
  
  inset: 0;
  
} 
#bg-m {
  position: fixed;
  z-index: -1;
  
  object-fit: cover;
  inset: 0;
  width: 100vw;
  height: 100vh;
} 
@media (min-width: 549px) {
  #bg-m {
    display: none;
  }
}


@media (min-aspect-ratio: 16/9){
  #bg{
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9){
  #bg{
    width: auto;
    height: 100%;
  }
}
