/*background video*/
#bg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
} 

@media (min-aspect-ratio: 16/9){
  #bg{
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9){
  #bg{
    width: auto;
    height: 100%;
  }
}
