body{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "navbar" 
    "main"
    "footer";
    nav{
        grid-area: navbar;
    }
    main{
        grid-area: main;
        position: relative;
    }
    footer{
        grid-area: footer;
    }
}
