.timeline {
    margin: 0 auto;
    max-width: 750px;
    padding: 25px;
    display: grid;
    color: white;
    grid-template-columns: 1fr 3px 1fr;
}
.timeline-container{
    margin: 0 20px 20px 20px;
}
.right{
    text-align: right;
}
.middle-bar{
    position: relative;
    background-color: white;
}
.dot{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
}
.timeline-bg{
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}