.timeline {
    margin: 0 auto;
    max-width: auto;
    padding: 20px;
    display: grid;
    color: rgb(255, 255, 255);
}
.timeline-row{
        display: grid;
        grid-template-columns: 3px 1fr;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 3px 1fr;
}
.right{
    text-align: right;
}
.timeline-date{
    margin: -10px 20px 20px 20px;
}

.middle-bar{
    position: relative;
    background-color: white;
}
.timeline-item{
    position: relative;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 0px 20px 20px 20px;
}
.dot{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
}
.item-tag{
    position: absolute;
    top: -10px;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 0px 5px;
}

/* ===== MOBILE ===== */
@media (max-width: 548px) {
    .timeline{
        max-width: 750px;
        margin: 0 auto;
        padding: 25px;
    }

    .timeline-row{
        display: grid;
        grid-template-columns: 3px 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "middle date"
            "middle item";
        
    }

    .middle-bar{
        grid-area: middle;
    }

    .timeline-date{
        grid-area: date;
        margin: -10px 20px 20px 20px;
    }

    .timeline-item{
        grid-area: item;
        border-radius: 10px;
        margin: 0px 10px 30px 20px;
    }

    .right{
        text-align: left;
    }
}
