/* navbar */
.nav-container{
    background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(255,0,0,0));
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.nav{
    display: flex;
    height: 40px;
    width: 130px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: white;
}
.nav-container a:hover {
  border-bottom: 3px solid red;
}
.nav-container a.active {
  border-bottom: 3px solid red;
  color: gold;
}
a{
  color: white;
}
