/* filter container*/
.filter-container{
    background-color: lightgreen;
    display: grid;
    grid-template-areas: 
    "dropdown-sort sort-btn attri attri attri attri"
    "counter counter weapon weapon weapon weapon"
    "counter counter rarity rarity rarity rarity";
}
/*sort*/
.dropdown-sort{
    grid-area: dropdown-sort;
}
/*attribute*/
.attribute-container{
    grid-area: attri;
    background-color: lightblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.attri{
    background-color: "";
}
.attri:hover{
    background-color: lightskyblue;
}
/*weapon*/
.weapon-container{
    grid-area: weapon;
    background-color: lightpink;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}
.weapon{
    background-color: "";
}
.weapon:hover{
    background-color: pink;
}
/*rarity*/
.rarity-container{
    grid-area: rarity;
    background-color: lightcoral;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.rarity{
    background-color: "";
}
.rarity:hover{
    background-color: coral;
}
/*Counter*/
.counter{
    grid-area: counter;
    background-color: rgb(255, 122, 255);
}
.sort-btn{
    grid-area: sort-btn;
    background-color: rgb(224, 250, 131);
    //width: 10%;
}
