.list-container{
    border: 5px solid black;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}
.item{
    position: relative;
    height: 120px;
    width: 120px;
    border: 2px black solid;
    font-size: 10pt;
    background-color: white;
}
.img-reso{
    position: absolute;
    /*without tailwind */
    max-width: 100%;
    height: auto;  
}
.name{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #3A332A;
    color: white;
    padding: 5px 10px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.attribute {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    gap: 6px;

    color: white;
    padding: 5px 10px;

    border: 1px solid white;
    border-bottom-left-radius: 15px;

    font-size: clamp(12px, 1.2vw, 14px);
}

/* icon */
.img-attribute {
    width: clamp(15px, 2vw, 22px);
    height: auto;
}