.youtube-container{
    position: relative;
    height: 100%;
}
.ytopen-button{
    position: absolute;
    /*border: 3px black solid;*/
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}
#videoContainer {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.close-button {
    position: absolute; 
    top: -50px;
    right: -50px;
}
.close-button:hover {
    background-color: #d32f2f;
}
