/*background video*/
#bg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
} 

@media (min-aspect-ratio: 16/9){
  #bg{
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9){
  #bg{
    width: auto;
    height: 100%;
  }
}

/* navbar */
.nav-container{
    background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(255,0,0,0));
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.nav{
    display: flex;
    height: 40px;
    width: 130px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: white;
}
.nav-container a:hover {
  border-bottom: 3px solid red;
}
.nav-container a.active {
  border-bottom: 3px solid red;
  color: gold;
}
